.icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #3137434b;
    padding: 2% 6%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 4% 0;

}
h2 {
    color: #0ff;
}
.name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name .span {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.right-left {
    display: flex;
    gap: 20px;
}

.right,
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-left a,
.end a {
    text-decoration: none;
    color: white;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.end a {
    font-size: 14px;
    padding-bottom: 10px;
    color: #0ff;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loca {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow i {
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
    // filter: drop-shadow(0 0 3px #0ff);
}

.follow i:hover {
    color: #0ff;
}


@media (max-width: 480px) {

    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .name,
    .link,
    .location,
    .follow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .end a {
        margin-top: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    }

}