.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 6%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #0a0a0a;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.header .logo {
    text-decoration: none;
    font-size: 32px;
    font-family: cursive;
    font-weight: bold;
    color: #ededed;

}

.header .logo span {
    color: #0ff;

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;

}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    // transition: 0.3s ease;
    // font-weight: bold;
    transition: 0.3s ease;
    font-weight: 500;
}

.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #0ff;
    display: block;
    transition: 0.2s linear;
}
.navbar a:hover::after{
    width: 100%;
}
.navbar a:hover,
.navbar a.active{
    color: #0ff;
}


.toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #0ff;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
    max-width: 600px;
}

.home-content .btn-box {
    width: 345px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.btn-box .btn {
    width: 150px;
    background-color: #0ff;
    height: 100%;
    border: none;
    border-radius: 24px;
    font-size: 19px;
    color: #262626;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px #0ff,
        0px 0px 10px #0ff inset;
    transition: .4s;
}

.btn-box .btn:hover {
    transform: translate(0, -8px);
    box-shadow: 0px 0px 20px #0ff,
        0px 0px 20px #0ff inset;
}

.btn-box .btn-talk {
    border: 2px solid #0ff;
    background: none;
    color: #0ff;
}

.home-image img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    // border: 3px solid #0ff;
    // box-shadow: 0px 0px 20px #0ff,
    //     0px 0px 20px #0ff inset;
    box-shadow: 0 0 25px #0ff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.home-image img:hover {
    box-shadow: 0 0 10px #0ff,
                0 0 20px #0ff,
                0 0 30px #0ff;

    // box-shadow: 0px 0px 50px #0ff,
    //     0px 0px 50px #0ff inset;
}
.text-animation {
    // font-size: 16px;
    // background-color: red;
    font-weight: 600;
    // min-width: 5000px;

}
#i{
    color: white;
    font-size: 32px;
}

.text-animation span {
    position: relative;
}
.text-animation span::before {
    content: "Web Developer";
    color: #0ff;
    animation: words 20s infinite;
}
.text-animation span::after {
    content: '';
    background: #0a0a0a;
    position: absolute;
    width: calc(100% + 80px);
    height: 100%;
    border-left: 3px solid #0ff ;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
    to {
        border-left: 2px solid #0ff;
    }
}
@keyframes words {
    0%,
    20% {
        content: 'Frondend Designer';
    }
    21%,
    40% {
        content: 'Web Designer';
    }
    41%,
    60% {
        content: 'UX / UI Designer';
    }
    61%,
    80% {
        content: 'Web Developer';
    }
    81%,
    100% {
        content: 'Software Tester';
    }
}
@keyframes typing {
    10%, 
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}



@media (max-width: 480px) {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .header .logo {
        font-size: 26px;
    }

    .navbar {
        display: none;
    }



    .home {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .home-content {
        order: 2;
    }
    .home-content .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .home-content h1 {
        font-size: 32px;
        text-align: center;
    }

    .home-content h3 {
        font-size: 24px;
        text-align: center;
    }

    .home-content p {
        text-align: justify;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-image img {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }
    #i{
    color: white;
    font-size: 24px;
}

}

@media (min-width: 769px) and (max-width: 1024px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .header .logo {
        font-size: 32px;
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .home {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 50px;
    }

    .home-content {
        order: 2;
    }

    .home-content h1 {
        font-size: 48px;
        text-align: center;
    }

    .home-content h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-content .btn-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .home-content p {
        text-align: justify;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .home-image img {
        width: 400px;
        height: 400px;
        margin-top: 50px;
    }
    .navbar {
        display: none;
    }
}