@import 'navbar';

@import 'about';

@import 'education';

// @import 'hover';

@import 'services';

@import 'projects';

@import 'skills';

@import 'contact';

@import 'footer';



// base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #0a0a0a;
    color: #ededed;
}

.header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 4%;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

span {
    color: #0ff;
}

.line {
    width: 70px;
    height: 4px;
    background: #0ff;
    border-radius: 4px;
}

